<template>
  <div class="animate-pulse">
    <div
      class="mb-8 rounded-lg bg-gray-400 dark:bg-gray-500 aspect-[472/200]"
    ></div>
    <div class="bg-gray-400 dark:bg-gray-500 h-[3.5rem]">&nbsp;</div>
  </div>
</template>
